<section id="homepage">
  <h2>Greet your friends, <em>instantly</em></h2>

  <p>Greetr is an excellent app. Please use it.</p>

  <%= link_to "Sign in", :sign_in, class: "cta" %>
  or
  <%= link_to "Sign up", :sign_up, class: "cta" %>
</section>
