<section id="homepage">
  <h2>Greet your friends, <em>instantly</em></h2>

  <p>Greetr lets you send short greetings to your friends and have it instantly show up on their computer.</p>
  <p>Works great on your computer or on your phone.</p>

  <%= link_to "Sign in", :sign_in, class: "cta" %>
  or
  <%= link_to "Sign up", :sign_up, class: "cta" %>
</section>
