<h2>The app that's almost completely dumb</h2>

<p>Yo is an excellent app. Please use it.</p>

<%= link_to "Sign in", :sign_in, class: "blue-button" %>
or
<%= link_to "Sign up", :sign_up, class: "blue-button" %>
