form#new_greeting {
  margin-bottom: 3em;

  label, select {
    display: inline;
  }

  #greeting_body {
    width: 50%;
  }

  input {
    display: block;
  }
}

.greeting {
  letter-spacing: 0.5px;
  margin-bottom: 10px;

  abbr.timeago {
    font-size: 0.75em;
  }
}
